@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
}

@font-face {
    font-family: 'Ubuntu Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Bold Italic';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Italic';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/ubuntu/Ubuntu-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Light Italic';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Medium Italic';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

body {
    background: url(/assets/images/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* xxl (min-width: 1400px) and (max-width: 1920px) */
.header1 {
    font-family: 'Ubuntu Regular';
    color: #000000;
}

.clock {
    color: #000000;
    font-size: 38px;
    line-height: 38px;
    font-family: 'Ubuntu Regular';
}

.clock-section-title {
    font-family: 'Ubuntu Regular';
    font-size: 20px;
    color: #000000;
}

.clock-section-title span {
    font-size: 20px;
}

.moon-img {
    width: 100px;
}

.st-digital-clock {
    font-family: 'digital-7';
}





.year-seasons-loader-item {
    display: inline-block;
    border: 1px solid;
    width: 24.6999777%;
    height: 24px;
    font-family: 'Ubuntu Regular';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.months-loader-item {
    display: inline-block;
    border: 1px solid;
    width: 7.999999999666%;
    height: 24px;
    font-family: 'Ubuntu Regular';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.week-days-loader-item {
    display: inline-block;
    border: 1px solid;
    width: 14.0%;
    height: 24px;
    font-family: 'Ubuntu Regular';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.hours-loader-item {
    display: inline-block;
    border: 1px solid;
    width: 3.855%;
    height: 40px;
    font-family: 'digital-7';
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 3px;
}

.seconds-loader-item,
.minutes-loader-item {
    display: inline-block;
    border: 1px solid;
    width: 3.0220066666%;
    height: 40px;
    font-family: 'digital-7';
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 3px;
}

.date-title {
    font-family: 'Ubuntu Regular';
    font-size: 28px;
    line-height: 36px;
}



.sli-normal-color,
.mli-normal-color,
.hli-normal-color,
.ysli-normal-color,
.moli-normal-color,
.wdli-normal-color {
    border-color: #000000;
    color: #000000;
}

.sli-inverted-color,
.mli-inverted-color,
.hli-inverted-color,
.ysli-inverted-color,
.moli-inverted-color,
.wdli-inverted-color {
    border-color: #000000;
    color: #FFFFFF;
    background: #000000;
}

.language-section{
    list-style-type: none;
    line-height: 30px;
}

.language-section li{
    display: inline-block;
    padding: 5px;

}

.language-section li a{
    color: #000000;
}

/* Analog watch */
#analog-clockContainer {
    position: relative;
    margin: auto;
    height: 180px;
    /*to make the height and width responsive*/
    width: 180px;
    background: url(/assets/images/analog-bg2.png) no-repeat;
    /*setting our background image*/
    background-size: 100%;
}

#analog-hour,
#analog-minute,
#analog-second {
    position: absolute;
    background: #000000;
    border-radius: 10px;
    transform-origin: bottom;
}

#analog-hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#analog-minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#analog-second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}
/* Analog watch:end */

/* xl */
@media (min-width: 1200px) and (max-width: 1399.98px){
    .moli-xl{
        width: 7.989999999666%;
        font-size: 16px;
    }
    .wdli-xl{
        width: 13.965%;
    }
    .hli-xl{
        width: 3.809643%;
    }
    .mli-xl,
    .sli-xl{
        width: 2.9722226%;
    }
}
/* lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .ysli-lg{
        width:24.599999999777%
    }
    .moli-lg{
        width: 7.8999999999666%;
        font-size: 14px;
    }
    .wdli-lg{
        width: 13.899999965%;
    }
    .hli-lg{
        width: 3.7409643%;
    }
    .mli-lg,
    .sli-lg{
        width: 2.8999999999%;
        font-size: 24px;
    }
}
/* md */
@media (min-width: 768px) and (max-width: 991.98px) {
    .ysli-md{
        width: 24.5499999999666%;
    }
    .moli-md{
        width: 16.0999999999666%;
    }
    .wdli-md {
        width: 13.772220%;
        font-size: 17px;
    }

    .hli-md{
        width: 3.57409643%;
        font-size: 24px;
    }
    .mli-md,
    .sli-md{
        width: 2.74999999999%;
        font-size: 18px;
    }
}
/* sm */
@media (min-width: 576px) and (max-width: 767.98px){
    .ysli-sm{
        width: 24.3969999999%;
    }
    .moli-sm{
        width: 24.3973333333%;
    }
    .wdli-sm {
        width: 13.589999999%;
        font-size: 12px;
    }

    .hli-sm{
        width: 7.57409643%;
        font-size: 24px;
    }
    .mli-sm,
    .sli-sm{
        width: 4.1999999999%;
        font-size: 18px;
    }
}
/* xs */
@media (max-width: 575.98px) {
    .ysli-xs{
        width: 24.1999999%;
    }
    .moli-xs{
        width: 32.5999999%;
    }
    .wdli-xs {
        width: 13.299999989999999%;
        font-size: 12px;
    }

    .hli-xs{
        width: 7.29999997%;
        font-size: 24px;
    }
    .mli-xs,
    .sli-xs{
        width: 7.1999999999%;
        font-size: 18px;
    }
}